body {
    font-family: Roboto, helvetica, sans-serif;
}

header,
main,
footer {
    max-width: 760px;
    margin: 0 auto;
}

.banner {
    padding: 1rem;
    color: white;
    background-color: #702963;
}

h1 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

main h2 {
    grid-column: 1 / -1;
}

h2 {
    color: #702963;
    text-align: left;
}

article p {
    text-align: justify;
}

.callout {
    color: white;
    background-color: #702963;
}

footer {
    margin-top: 1rem;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    font-size: smaller;
    text-align: left;
}