body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f1f1f1;
    margin: 0;
    padding: 20px;
}

h1,
h2 {
    font-family: 'Montserrat', sans-serif;
    color: #3498db;
}

section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-top: 0;
}