*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

main {
    max-width: 1000px;
    margin: 0 auto;
}

main {
    display: grid;
    grid-template-columns: 3, 1fr;
    gap: 50px;

}

@media (min-width: 768px) 
    {main figure {
        grid-template-columns: repeat(3, 1fr);
    }
}